:root {
    --primary: hsl(203, 32%, 55%);
    --darkenPrimary: hsl(203, 32%, 30%);
    --lightenPrimary: hsl(203, 40%, 90%);
    --desktop: 1140;
}

/* 
* Normalize
 */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}


a {
    background-color: transparent
}

strong {
    font-weight: bolder
}

img {
    border-style: none
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
}

[type=button], button {
    -webkit-appearance: button
}

/* 
 * Base 
 */

html {
    box-sizing: border-box;
    color: var(--primary);
    font-family: 'Bitter', serif;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

html * {
    box-sizing: inherit;
    outline-color: var(--darkenPrimary);
}

::selection {
    background: var(--lightenPrimary);
    text-shadow: none;
}

img {
	max-width: 100%;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}


/* 
* Elements
 */

.icon {
    height: 1rem;
    width: 1rem;
    fill: currentcolor;
}

.skip-content-link {
    padding: 1rem 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
}

.container {
	max-width: calc(var(--desktop) * 1px);
	margin: 0 auto;
}

/* 
* Button
 */

.button {
	padding: 6px;
}

.button-transparent {
    background-color: transparent;
    border-color: transparent;
}

/* 
* Layout
 */

.header {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.main-navigation a,
.header button {
	transition: color 200ms ease-in-out;
}

.header-socials a:focus,
.header-socials a:hover,
.main-navigation a:focus,
.main-navigation a:hover,
.header button:focus,
.header button:hover {
	color: var(--darkenPrimary);
}

.header-socials {
    width: 140px;
}

.main-navigation a,
.header-socials a {
    padding: 5px 8px;
}

.header-external-links a {
    font-size: 0.875em;
    padding: 10px 15px;
}

.header-external-links a:focus,
.header-external-links a:hover {
	color: #fff;
	text-decoration: underline;
}

.header-external-links a:last-child {
    border-left: 1px solid rgba(255, 255, 255, .2);
}

.header-bottom {
	padding: 1rem .7rem;
}

/* 
* Carousel
 */

.carousel {
	background-image: url('http://habitat.demo.andy.central-demo.sitecore.net/-/media/Habitat/Images/Wide/Habitat-004-wide.jpg');
	background-size: cover;
	color: #fff;
	height: 380px;
	position: relative;
}

.carousel::after {
	background-color: rgba(0, 0, 17, .6);
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.carousel .container {
	height: 100%;
	position: relative;
	z-index: 2;
}

.carousel-title {
	font-size: 4rem;
	margin: 0;
}

@media(min-width: 768px) {
	.carousel {
		margin-bottom: 2rem;
	}
}

@media(max-width: 768px) {
	.carousel-title {
		font-size: 2rem;
	}
}

/* 
* Cards
*/

@media (min-width: 768px) {
	.card {
		padding-left:  1rem;
		padding-right:  1rem;
		flex: 1;
	}
}

.card {
	margin-top: 1rem;
	width: 100%;
	transition: all ease 600ms;
}

.card-link {
	border: 2px solid var(--primary);
	border-radius: 1rem;
	color: inherit;
	display: inline-block;
	font-weight: 600;
	padding: 0.7rem;
	transition: background 300ms ease;
}

.card-link:hover,
.card-link:focus {
	background-color: var(--primary);
	color: white;
}


/* 
 * Helpers
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.bg-primary {
    background-color: var(--primary);
}

.color-current {
    color: currentcolor;
}

.margin-0 {
    margin: 0;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.padding-1 {
	padding: 1rem;
}


/* 
* Flex Helpers
 */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}


/* 
* Mobile 
 */

.mobile-only {
	display: none;
}

@media only screen and (max-width: 425px) {
	.mobile-only {
		display: unset;
	}

	.not-mobile {
		display: none;
	}
}
 

/* 
* Dragula Min
 */

 .gu-mirror{position:fixed!important;margin:0!important;z-index:9999!important;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}.gu-hide{display:none!important}.gu-unselectable{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.gu-transit{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20)}